[localePicker]
forceUrl = 0
==
<?php
    function onStart(){
            $this['currentYear'] = date('Y');
            $this['currentLocale'] = app()->getLocale();
            $this['langDictionary'] = trans('allatrack.eurodrinks::lang');
    }
?>
==
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Allatrack">
    <meta name="author" content="Allatrack">
    <link rel="icon" href="{{ 'assets/img/Logo.png'|theme }}">
    <title>Eurodrinks</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ ['assets/vendor/bootstrap/bootstrap.min.css','assets/css/style.css' ]|theme }}" rel="stylesheet">
</head>

<body>

    {% partial "_nav" currentLocale=currentLocale  %}

    {% page %}

    {% partial "_footer" %}

    {% framework extras %}
    {% scripts %}
    <script>
      var langDictionary = {{langDictionary|json_encode|raw}};

      function trans(locale){
        return langDictionary[locale];
      }
    </script>
</body>

</html>