[viewBag]
==
<div class="col-5 image-block">
    {% if post.image %}
        <a href="/{{ postPage }}/{{ post.slug }}" data-post-id="{{post.id}}">
            <img class="news-preview-img shadowed" data-src="{{ post.image|media }}" alt="{{ post.title }}">
        </a>
    {% else %}
        <a href="#" data-post-id="{{post.id}}">
            <img class="news-preview-img shadowed" data-src="http://vollrath.com/ClientCss/images/VollrathImages/No_Image_Available.jpg" alt="{{ post.title }}">
        </a>
    {% endif %}
</div>
<div class="col-7 info-block">
    <h2><a href="/{{ postPage }}/{{ post.slug }}" data-post-id="{{post.id}}">{{ post.lang(currentLocale).title }}</a></h2>
        {% if post.introductory %}
            {{ post.lang(currentLocale).introductory|raw }}
        {% elseif post.content %}
            {{ post.lang(currentLocale).content|raw }}
        {% endif %}
    <!--Читать полностью-->
    <a class="float-right" href="/" data-post-id="{{post.id}}">{{'Read'|_}}</a>
</div>
